.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.aRYDKNFWMvTsty75T5kvXwHaEo&pid=Api&P=0&h=180');
  background-size: cover; 
}